<a href="https://colab.research.google.com/github/Nama-Venkata-Vishwak/Advent_of_code/blob/main/Advent_of_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Getting Data From Advent_of_Code


---

In [5]:
import requests
session_id="53616c7465645f5f10eed5ad1bfca428dbe9be0d29ff6741ff9586049a7ed2f8b3bd27e70eff7c4936ca568e9a7bafd1ef9363483ba4efcd3f46bfa8430deb0a"
def get_advent_of_code_input(year,day,session_id):
  url=f"https://adventofcode.com/{year}/day/{day}/input"
  headers = {"Cookie":f"session={session_id}"}
  response = requests.get(url,headers=headers)
  if(response.status_code==200):
    return response.text.strip()
  else:
    print(f"Failed to fetch data. {response.status_code}")
    return None
# import requests
# session_id="53616c7465645f5fc9b2c2a3ac7e51d79a7e93848102302526ecc97df1c276cfad384c010b1b5182a1ba9aad622c0bdd89b059ec8e205d139a09adee778edfdc"
def get_advent_of_code_input2(year,day,session_id):
  url=f"https://adventofcode.com/{year}/day/{day}/input"
  headers = {"Cookie":f"session={session_id}"}
  response = requests.get(url,headers=headers)
  if(response.status_code==200):
    return response.text
  else:
    print(f"Failed to fetch data. {response.status_code}")
    return None
def load(year,day):
  return get_advent_of_code_input(year,day,session_id)
def load2(year,day):
  return get_advent_of_code_input2(year,day,session_id)

In [26]:
def into_char(a,b=''):
  if(b==''):
    for i in range(len(a)):
      a[i]=list(a[i])
    return a
  for i in range(len(a)):
    a[i]=a[i].split(b)
  return a

In [38]:
def into_vertical_List(a):
  b=[]
  a = list(a.split("\n"))
  a = into_char(a," ")
  for i in range(len(a[1])):
    b.append([item[i].strip() for item in a])
  return b

['27484', '67560', '43926', '86974', '71747', '28088', '34772', '29824', '29947', '98288', '65056', '51274', '77249', '47027', '38391', '70732', '48005', '78366', '61139', '73910', '20206', '22102', '88580', '54397', '49998', '61967', '12345', '41314', '21798', '98407', '86141', '73311', '81862', '95566', '87351', '15848', '51788', '35997', '47658', '81744', '47851', '43111', '11414', '40636', '27695', '81110', '44831', '58200', '88294', '16039', '59282', '69211', '52748', '52668', '43520', '28943', '24548', '67129', '53243', '65561', '82182', '49274', '15952', '60418', '27775', '73493', '52098', '27121', '81056', '28121', '30348', '56433', '25161', '83995', '57450', '52600', '77850', '37216', '98526', '90655', '45217', '69053', '13539', '89360', '84311', '87153', '24300', '23519', '28852', '53355', '42582', '26552', '75913', '53485', '34601', '76249', '94920', '72323', '69403', '95672', '26935', '87512', '61615', '74695', '20200', '19304', '68077', '10582', '27335', '37584', '73196', '16502', '91474', '54822', '71321', '41518', '87096', '21202', '93142', '38047', '24517', '44312', '33144', '77684', '80588', '67107', '54896', '51770', '45857', '46481', '47496', '28125', '14980', '51789', '12986', '25765', '74251', '78770', '55011', '29165', '17728', '33981', '36823', '39673', '91903', '19472', '26800', '37852', '14040', '55052', '65668', '89327', '76888', '70948', '12472', '14831', '22665', '22214', '89577', '81023', '84429', '75394', '42076', '68351', '62000', '17132', '41051', '76577', '72700', '21580', '20635', '62682', '96847', '79918', '80975', '72024', '29236', '82592', '40379', '22464', '53246', '92362', '67933', '83285', '32355', '72419', '54766', '44778', '97706', '14239', '61196', '49491', '14607', '54850', '71449', '27968', '33242', '44321', '97596', '82906', '14319', '46189', '49649', '24148', '34109', '81217', '25414', '75794', '15200', '95299', '39732', '87884', '15317', '21193', '15090', '21390', '21698', '56575', '84593', '83880', '36664', '42212', '27053', '84601', '77818', '44608', '56932', '93674', '79048', '88828', '11883', '36014', '12590', '76559', '39043', '82003', '20407', '10048', '31281', '28063', '45813', '18006', '95040', '62587', '28094', '29580', '72853', '39380', '50190', '86034', '26295', '22364', '73757', '45106', '91186', '30056', '91866', '89436', '73210', '62546', '40469', '55116', '11849', '77677', '61244', '26136', '81481', '72429', '76056', '35895', '68089', '18171', '63514', '97499', '75403', '36977', '96237', '29452', '98034', '42417', '57358', '60023', '72118', '85974', '80417', '13977', '71082', '44648', '72171', '70404', '54381', '72013', '51192', '14717', '23855', '48675', '83605', '31420', '83753', '10437', '58483', '69788', '81921', '56676', '42129', '21405', '54273', '63042', '11660', '64263', '11027', '47012', '94401', '27499', '70973', '47772', '35646', '16154', '91790', '50094', '80579', '49745', '18137', '79817', '18437', '46949', '60816', '35903', '17915', '57636', '97265', '54184', '72211', '50122', '98895', '83261', '61814', '41074', '25545', '69677', '32198', '90218', '32063', '26348', '23459', '19924', '12755', '75332', '20426', '33510', '32520', '50821', '45619', '30651', '23288', '26097', '35967', '13374', '35414', '67278', '34100', '26440', '55848', '60238', '11578', '53675', '95139', '53655', '75061', '25717', '96718', '60846', '31991', '41677', '81456', '62569', '14572', '47381', '84958', '85437', '12693', '56021', '55744', '68582', '15330', '94099', '89771', '52313', '56489', '50298', '74104', '29286', '24482', '82812', '13182', '15225', '78417', '83094', '26751', '92253', '34340', '73732', '91045', '52416', '13671', '33612', '56971', '40346', '72844', '94947', '86520', '75495', '87108', '61901', '85022', '51692', '97087', '17780', '78024', '82627', '86867', '14770', '99690', '37970', '38091', '93808', '19623', '62514', '39354', '18731', '20182', '96893', '93703', '32281', '44738', '34416', '99168', '60552', '62143', '34660', '11505', '24137', '69957', '32792', '55146', '24998', '45008', '55840', '56271', '51951', '23366', '94193', '67623', '35037', '13330', '31163', '87613', '40427', '90416', '81180', '82377', '64803', '62137', '28226', '12419', '14256', '74284', '63856', '12114', '23305', '99115', '38426', '87398', '92158', '39006', '17021', '11701', '31448', '78513', '85920', '93843', '30287', '78384', '41990', '11317', '30841', '10135', '85875', '65006', '19493', '29916', '12137', '13493', '36868', '19718', '73983', '79278', '70849', '43543', '69664', '36211', '69076', '50555', '16277', '86854', '18173', '15367', '87778', '85537', '29202', '65597', '94036', '40995', '57002', '31037', '62138', '23493', '32543', '13649', '45082', '39931', '54328', '90435', '98509', '40846', '12273', '70078', '69792', '71552', '43202', '23140', '26364', '34210', '47040', '29563', '35773', '52323', '37176', '97815', '43884', '94682', '82836', '89878', '39807', '42368', '13016', '89249', '65121', '20487', '24970', '30802', '65040', '28328', '52220', '26818', '65282', '78164', '46968', '78981', '18980', '30648', '51633', '31442', '63174', '44998', '60294', '33509', '28215', '76076', '64908', '17601', '33308', '79813', '89994', '35315', '67669', '73099', '25168', '71490', '58441', '28299', '64607', '34983', '96817', '13045', '71656', '26886', '60587', '75130', '86187', '85198', '33243', '43027', '38691', '49403', '45353', '18425', '18026', '39076', '28212', '18907', '71135', '13958', '53937', '12712', '63297', '50764', '95321', '97757', '72342', '62894', '71239', '77659', '63198', '84364', '61075', '51222', '24995', '16599', '86925', '99048', '13542', '12591', '25905', '32208', '22133', '41575', '59604', '16836', '31682', '69364', '82188', '41914', '45576', '25079', '81537', '46462', '66551', '26591', '77328', '33985', '33418', '91080', '61568', '57867', '84472', '12654', '70565', '42550', '51259', '13169', '65905', '15805', '90109', '76980', '57913', '72381', '70281', '78134', '37955', '93173', '74086', '58167', '40765', '23790', '33592', '78454', '15430', '67945', '64241', '83702', '46375', '26342', '34863', '19482', '34284', '38000', '98157', '15930', '64693', '12550', '51953', '77269', '13652', '86840', '52314', '98333', '40687', '35046', '59975', '72833', '14044', '71828', '40577', '51481', '80118', '55714', '24410', '99412', '35437', '48548', '84964', '75235', '21303', '83551', '52760', '85000', '56259', '42764', '11312', '24461', '27237', '58802', '55301', '74259', '56046', '19866', '73679', '33891', '45639', '54195', '95097', '57914', '59298', '89370', '76504', '56108', '29130', '33712', '25154', '96503', '98909', '40872', '82776', '63510', '26533', '56079', '39398', '47768', '20341', '99994', '10110', '57700', '30209', '94995', '44918', '66796', '51995', '77354', '93013', '54620', '92444', '93849', '49161', '28949', '37715', '23904', '73156', '42384', '17773', '58155', '54490', '56486', '97223', '32955', '25281', '15737', '35697', '18244', '42515', '40947', '93475', '14131', '67547', '95089', '43557', '11037', '34322', '22250', '71266', '89572', '90169', '17372', '65790', '27576', '37101', '73468', '39721', '65682', '47073', '90895', '43637', '78516', '21073', '92011', '46069', '26851', '47448', '65439', '29023', '51855', '65553', '80536', '16678', '90651', '19633', '93746', '70591', '94422', '33657', '52974', '13630', '69196', '79490', '32250', '66530', '32790', '17127', '92015', '28249', '65102', '91455', '64033', '24017', '45651', '60117', '96785', '50649', '15436', '65914', '36166', '78692', '91558', '49051', '66543', '95701', '38010', '45785', '64305', '47125', '66807', '53798', '39771', '31704', '62165', '65163', '29324', '60646', '91668', '70470', '49620', '73173', '50390', '89026', '81234', '45456', '39896', '56209', '48104', '62372', '39333', '79867', '95279', '52605', '75787', '84796', '38805', '45963', '27579', '90333', '32386', '14026', '19291', '77541', '99587', '31439', '42133', '44755', '85828', '42114', '59161', '43113', '19801', '99100', '65884', '54308', '65747', '29500', '41826', '85615', '70557', '95815', '87262', '83658', '81087', '90172', '89905', '76914', '97931', '33944', '12857', '31425', '47737', '54370', '30972', '95939', '65658', '56393', '19853', '88897', '82340', '84119', '56333', '63170', '46323', '25888', '93367', '63331', '16400', '54046', '47922', '32747', '29791', '71231', '57799', '89922', '58351', '49144', '44735', '48818', '73875', '88792', '95437', '16461', '47343', '12386', '91444', '89445', '24720', '76245', '53193', '81174', '62085', '63488', '25099', '45860', '59677', '85517', '38418', '95501', '21940', '88869', '15733', '28860', '65805', '92611', '73443', '68225', '59098', '94473', '45560', '14714', '72384', '16713', '59990', '10894', '32150', '91101', '87562', '86572', '15065', '83303', '96607', '36622', '52276', '99240', '46404', '62733', '67070', '36323', '14422', '76755', '76212', '68464', '69048', '78830', '92884', '73029', '73783', '20321', '23224', '16276', '10461', '17913', '28947', '23436', '18265', '72046', '61316', '70861']
['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

[None, None, None, None]

#2024

##Day 4

In [61]:
raw_Input = load(2024,4)
raw_Input = """MMMSXXMASM
MSAMXMSMSA
AMXSXMAAMM
MSAMASMSMX
XMASAMXAMM
XXAMMXXAMA
SMSMSASXSS
SAXAMASAAA
MAMMMXMMMM
MXMXAXMASX"""

In [62]:
def count_xmas(grid):
    count = 0
    rows = len(grid)
    cols = len(grid[0])
    target = "XMAS"

    for i in range(rows):
        for j in range(cols):
            if j + len(target) <= cols and ("".join(grid[i][j:j+len(target)]) == target or "".join(grid[i][j:j+len(target)]) == target[::-1]):
                count += 1
            if i + len(target) <= rows and ("".join([grid[i+k][j] for k in range(len(target))]) == target or "".join([grid[i+k][j] for k in range(len(target))]) == target[::-1]):
                count += 1
            if i + len(target) <= rows and j + len(target) <= cols and ("".join([grid[i+k][j+k] for k in range(len(target))]) == target or "".join([grid[i+k][j+k] for k in range(len(target))]) == target[::-1]):
                count += 1
            if i + len(target) <= rows and j - len(target) + 1 >= 0 and ("".join([grid[i+k][j-k] for k in range(len(target))]) == target or "".join([grid[i+k][j-k] for k in range(len(target))]) == target[::-1]):
                count += 1
    return count

grid = into_char(raw_Input.splitlines())
print(count_xmas(grid))

18

In [63]:
def count_xmas(grid):
    count = 0
    rows = len(grid)
    cols = len(grid[0])
    target = "MAS"

    for i in range(1,rows-1):
        for j in range(1,cols-1):
            if ""+grid[i-1][j-1]+grid[i][j]+grid[i+1][j+1] == target or ""+grid[i+1][j+1]+grid[i][j]+grid[i-1][j-1] == target:
                if ""+grid[i-1][j+1]+grid[i][j]+grid[i+1][j-1] == target or ""+grid[i+1][j-1]+grid[i][j]+grid[i-1][j+1] == target:
                    count += 1
    return count
grid = into_char(raw_Input.splitlines())
print(count_xmas(grid))

9

##Day 3

In [ ]:
raw_Input = load(2024,3)
# raw_Input = "xmul(2,4)&mul[3,7]!^don't()_mul(5,5)+mul(32,64](mul(11,8)undo()?mul(8,5))"

In [ ]:
import re
def sumRegex(str):

  matches = re.findall(r"mul\((\d+),\s*(\d+)\)", str)
  sum = 0
  for (a,b) in matches:
    sum = sum + (int(a)*int(b))
  return sum

def split_string(input_string):
    do_list = []
    do_parts = input_string.split("do()")
    for part in do_parts:
        do_list.append(part.split("don't()")[0])
    return do_list

In [ ]:
print("First : ",sumRegex(raw_Input))


do_list = split_string(raw_Input)
sum = 0
for str in do_list:
    sum = sum + sumRegex(str)
print("second : ",sum)

First :  174103751
second :  100411201

#2023

##DAY15

In [ ]:
raw_input=load(2023,15)

In [ ]:
# Determine the ASCII code for the current character of the string.
# Increase the current value by the ASCII code you just determined.
# Set the current value to itself multiplied by 17.
# Set the current value to the remainder of dividing itself by 256.
def has(a):
  a=list(a)
  val=0
  for i in a:
    val+=ord(i)
    val*=17
    val%=256
  return val

In [ ]:
input=raw_input.split(',')
# input='rn=1,cm-,qp=3,cm=2,qp-,pc=4,ot=9,ab=5,pc-,pc=6,ot=7'.split(',')
summ=0
for i in input:
  summ+=has(i)
  # print(has(i))
# len(input)
summ

512797

In [ ]:
input=raw_input.split(',')
# input='rn=1,cm-,qp=3,cm=2,qp-,pc=4,ot=9,ab=5,pc-,pc=6,ot=7'.split(',')
boxes=[{} for _ in range(256)]
for i in input:
  if('-' in i):
    val=has(i[:-1])
    boxes[val].pop(i[:-1],None)
  else:
    a,b=i.split('=')
    val=has(a)
    boxes[val][a]=b
summ=0
for bi,b in enumerate(boxes):
  for ki,k in enumerate(b):
    summ+=(bi+1)*(ki+1)*int(b[k])
summ

262454

##DAY14

In [ ]:
raw_input=load(2023,14)

In [ ]:
input=raw_input.split('\n')
# input='''O....#....
# O.OO#....#
# .....##...
# OO.#O....O
# .O.....O#.
# O.#..O.#.#
# ..O..#O..O
# .......O..
# #....###..
# #OO..#....'''.split('\n')
b=[]
for i in range(len(input)):
  input[i]=list(input[i])
for i in range(len(input[0])):
  b.append([input[j][i] for j in range(len(input))][::-1])
summ=0
for l in b:
  s=len(l)
  # print(l)
  for i in range(len(l)):
    x=len(l)-i-1
    # print(l[i])
    if(l[x]=='O'):
      # print(s)
      summ+=s
      s-=1
    if(l[x]=='#'):
      s=x
  # print(summ)
summ

109755

In [ ]:
def suma(a):
  summ=0
  for i in range(len(a)):
    summ+=a[i].count('O')*(len(a)-i)
  return summ

def rotate(lst):
  rows = len(lst)
  cols = len(lst[0])
  rotated_lst = [[0 for _ in range(rows)] for _ in range(cols)]

  for i in range(rows):
    for j in range(cols):
      new_i = j
      new_j = rows - 1 - i
      rotated_lst[new_i][new_j] = lst[i][j]

  return rotated_lst
def shift(input):
  b=[]
  for i in range(len(input[0])):
    b.append([input[j][i] for j in range(len(input))])
  for l in range(len(b)):
    for i in range(len(b[l])-1):
      f=-1
      for j in range(i+1, len(b[l])):
        if(i==f):
          f=-1
        if(b[l][i]=='.' and b[l][j]=='O' and f==-1):
          b[l][i],b[l][j]=b[l][j],b[l][i]
        if(b[l][j]=='#'):
          f=j+1
  c=[]
  for i in range(len(b[0])):
    c.append([b[j][i] for j in range(len(b))])
  # print(summ)
  # [print(x) for x in c]
  # print()
  return c

In [ ]:
input=raw_input.split('\n')
# input='''O....#....
# O.OO#....#
# .....##...
# OO.#O....O
# .O.....O#.
# O.#..O.#.#
# ..O..#O..O
# .......O..
# #....###..
# #OO..#....'''.split('\n')
x=[]
f=0
offset=0
diff=0
for i in range(1000000000):
  for j in range(4):
    input=shift(input)
    input=rotate(input)
  if(input in [z[0] for z in x]):
    f=[z[0] for z in x].index(input)
    print(f,i)
    offset=f
    diff=i-f
    break
  else:
    x.append([input,i,suma(input)])
node=offset+((1000000000-offset)%diff)-1

152 178

In [ ]:
x[node][2:]

[90928]

##DAY13

In [ ]:
raw_input=load(2023,13)
import math

In [ ]:
def oned(x,y):
  return (len([(i,j) for i ,row1 in enumerate(x) for j,(a,b) in enumerate(zip(row1,y[i])) if(a!=b)])==1)

In [ ]:
def check(a,m):
  s=0
  # e=len(a)
  if(m<math.floor(len(a)/2)):
    # print(a[0:m+1])
    # print(a[m+1:m+len(a[0:m+1])+1][::-1])
    if (a[0:m+1]==a[m+1:m+len(a[0:m+1])+1][::-1]):
      return True
  else:
    # print(a[m-len(a[m+1:])+1:m+1])
    # print(a[m+1:][::-1])
    if(a[m-len(a[m+1:])+1:m+1]==a[m+1:][::-1]):
      return True
  return False
def check2(a,m):
  s=0
  # e=len(a)
  if(m<math.floor(len(a)/2)):
    # print(a[0:m+1])
    # print(a[m+1:m+len(a[0:m+1])+1][::-1])
    if (oned(a[0:m+1],a[m+1:m+len(a[0:m+1])+1][::-1])):
      return True
  else:
    # print(a[m-len(a[m+1:])+1:m+1])
    # print(a[m+1:][::-1])
    if(oned(a[m-len(a[m+1:])+1:m+1],a[m+1:][::-1])):
      return True
  return False

In [ ]:
def mirror(a):
  for i in range(len(a)-1):
    if(a[i]==a[i+1] and check(a,i)):
      return (i+1)*100
  b=[]
  for i in range(len(a[0])):
    b.append([item[i] for item in a])
  for i in range(len(b)-1):
    if(b[i]==b[i+1] and check(b,i)):
      return i+1
  return 0
x='''..##..###
#####.##.
#####.##.
..##..###
#....#..#'''.split('\n')
# x[0:3][::-1]
def mirror2(a):
  for i in range(len(a)-1):
    if((a[i]==a[i+1] or oned([a[i]],[a[i+1]])) and check2(a,i)):
      return (i+1)*100
  b=[]
  for i in range(len(a[0])):
    b.append([item[i] for item in a])
  for i in range(len(b)-1):
    if((b[i]==b[i+1] or oned([b[i]],[b[i+1]])) and check2(b,i) ):
      return i+1
  return 0
x='''..##..###
#####.##.
#####.##.
..##..###
#....#..#'''.split('\n')
# x[0:3][::-1]
check(x,1)

True

In [ ]:
input=raw_input.split('\n\n')
# input[:2]
# input="""#.##..##.
# ..#.##.#.
# ##......#
# ##......#
# ..#.##.#.
# ..##..##.
# #.#.##.#.

# #...##..#
# #....#..#
# ..##..###
# #####.##.
# #####.##.
# ..##..###
# #....#..#""".split('\n\n')
summ=0
for i in range(len(input)):
  input[i]=input[i].split('\n')
  summ+=mirror(input[i])
  # print(mirror(input[i]))
  if(mirror(input[i])==0):
    for x in input[i]:
      print(x)
    print()
summ

32723

In [ ]:
input=raw_input.split('\n\n')
# input[:2]
# input="""#.##..##.
# ..#.##.#.
# ##......#
# ##......#
# ..#.##.#.
# ..##..##.
# #.#.##.#.

# #...##..#
# #....#..#
# ..##..###
# #####.##.
# #####.##.
# ..##..###
# #....#..#""".split('\n\n')
summ=0
for i in range(len(input)):
  input[i]=input[i].split('\n')
  summ+=mirror2(input[i])
  # print(mirror(input[i]))
  if(mirror2(input[i])==0):
    for x in input[i]:
      print(x)
    print()
summ

34536

##DAY12

In [ ]:
raw_input=load(2023,12)

In [ ]:
from functools import lru_cache
from typing import Tuple

input_lines = [line.strip('\n') for line in raw_input.split('\n')]
@lru_cache
def recursive_arrangements(pixels: str, groups: Tuple[int]):
    if len(pixels) == 0:
        # e.g. "" (,)
        # e.g. "" (1,)
        return 1 if len(groups) == 0 else 0
    if pixels.startswith("."):
        # e.g. ".###?" (4,)
        # -> "###?" (4,)
        return recursive_arrangements(pixels.strip("."), groups)
    if pixels.startswith("?"):
        # e.g. "?###?" (4,)
        # 1-> ".###?" (4,)
        # 2-> "####?" (4,)
        return recursive_arrangements(pixels.replace("?", ".", 1), groups) \
            + recursive_arrangements(pixels.replace("?", "#", 1), groups)
    if pixels.startswith("#"):
        if len(groups) == 0:
            # e.g. "##" (,)
            return 0
        if len(pixels) < groups[0]:
            # e.g. "##" (3,)
            return 0
        if any(c == "." for c in pixels[0:groups[0]]):
            # e.g. "##.???" (3,1)
            return 0
        if len(groups) > 1:
            if len(pixels) < groups[0] + 1 or pixels[groups[0]] == "#":
                return 0
            # e.g. "##.???" (2,1)
            # -> "???" (1,)
            return recursive_arrangements(pixels[groups[0] + 1:], groups[1:])
        else:
            # e.g. "##.???" (2,)
            # -> ".???" (,)
            return recursive_arrangements(pixels[groups[0]:], groups[1:])
    raise Exception("no other branches possible")


for part in [1, 2]:
    total_arrangements = 0
    for line in input_lines:
        left, right_s = line.split(" ")
        right = tuple([int(x) for x in right_s.split(",")])
        if part == 2:
            left = "?".join([left] * 5)
            right = right * 5
        # left = pixels (as string), right = groups (as tuple of ints)
        total_arrangements += recursive_arrangements(left, right)
    print(total_arrangements)

7916
37366887898686

##DAY11

In [ ]:
raw_input=load(2023,11)

In [ ]:
raw_input.split('\n')[:5]

['.#..........#.....................#........................................................#....................................#...........',
 '...................#........................................#......................#........................................................',
 '...........................................#......#..................#...................................................#..................',
 '....#......................#...............................................#.........................#.....#......#................#........',
 '.................................................................#.......................#..................................................']

In [ ]:
input=raw_input.split('\n')
# input='''...#......
# .......#..
# #.........
# ..........
# ......#...
# .#........
# .........#
# ..........
# .......#..
# #...#.....'''.split('\n')
i=0
while(i<len(input)):
  input[i]=list(input[i])
  if(input[i].count('#')==0):
    input.insert(i,input[i])
    i+=1
  i+=1
print(i)
i=0
while(i<len(input[0])):
  if([x[i] for x in input].count('#')==0):
    for j in range(len(input)):
      input[j].insert(i,'.')
    i+=1
  i+=1
g=[]
# print(len(input[0]))
for i,line in enumerate(input):
  for j,p in enumerate(line):
    if(p=='#'):
      g.append((i,j))
gi=set([i for i,j in g])
gj=set([j for i,j in g])
def cal(a,b):
  d=abs(a[0]-b[0])+abs(a[1]-b[1])
  return d
d=0
for i in range(len(g)):
  for j in range(i+1,len(g)):
    d+=cal(g[i],g[j])
d

150

10165598

In [ ]:
input=raw_input.split('\n')
g=[]
for i,line in enumerate(input):
  for j,p in enumerate(line):
    if(p=='#'):
      g.append((i,j))
gi=set([i for i,j in g])
gj=set([j for i,j in g])
di=[x for x in range(len(input)) if x not in gi]
dj=[x for x in range(len(input)) if x not in gj]
def cal(a,b):
  d=abs(a[0]-b[0])+abs(a[1]-b[1])
  for x in di:
    if(a[0]<x<b[0] or a[0]>x>b[0]):
      d+=999999
  for x in dj:
    if(a[1]<x<b[1] or a[1]>x>b[1]):
      d+=999999
  return d
d=0
for i in range(len(g)):
  for j in range(i+1,len(g)):
    d+=cal(g[i],g[j])
d

678728808158

##DAY9

In [ ]:
raw_input=load(2023,9)

In [ ]:
def down(a):
  b=[]
  for i in range(len(a)-1):
    b.append(a[i+1]-a[i])
  # print(b)
  if(len(set(b))==1):
    return b.pop()
  else:
    # b.append(b[-1]+down(b))
    return b[-1]+down(b)
# print(raw_input)
input='''0 3 6 9 12 15
1 3 6 10 15 21
10 13 16 21 30 45'''.split('\n')
for i in range(len(input)):
  input[i]=list(map(int,input[i].split(" ")))
down(input[2])

23

###Part1

In [ ]:
# print(raw_input)
input=''' '''.split('\n')
input=raw_input.split('\n')
summ=0
for i in range(len(input)):
  input[i]=list(map(int,input[i].split(" ")))
  summ+=input[i][-1]+down(input[i])
  # for j in range(len(input[i])):
print(summ)

2038472161

###Part2

In [ ]:
# print(raw_input)
input=''' '''.split('\n')
input=raw_input.split('\n')
summ=0
for i in range(len(input)):
  input[i]=list(map(int,input[i].split(" ")))
  input[i]=input[i][::-1]
  summ+=input[i][-1]+down(input[i])
  # for j in range(len(input[i])):
print(summ)

1091

##DAY8

In [ ]:
import math
raw_input=load(2023,8)

###Part1

In [ ]:
input=raw_input.split('\n')
# input="""RL

# AAA = (BBB, CCC)
# BBB = (DDD, EEE)
# CCC = (ZZZ, GGG)
# DDD = (DDD, DDD)
# EEE = (EEE, EEE)
# GGG = (GGG, GGG)
# ZZZ = (ZZZ, ZZZ)""".split('\n')
ins=list(input[0])
for i in range(0,len(ins)):
  if(ins[i]=='L'):
    ins[i]=0
  else:
    ins[i]=1
input=input[2:]
d={}
for i in range(0,len(input)):
  input[i]=input[i].split(' = ')
  input[i][1]=input[i][1][1:-1].split(', ')
  d[input[i][0]]=input[i][1]
p='AAA'
f=1
while(f):
 for i in range(len(ins)):
  if(p=='ZZZ'):
    print(f-1)
    f=0
    break
  p=d[p][ins[i]]
  f+=1

22411

###Part2

In [ ]:
input=raw_input.split('\n')
# input="""LR

# 11A = (11B, XXX)
# 11B = (XXX, 11Z)
# 11Z = (11B, XXX)
# 22A = (22B, XXX)
# 22B = (22C, 22C)
# 22C = (22Z, 22Z)
# 22Z = (22B, 22B)
# XXX = (XXX, XXX)""".split('\n')
ins=list(input[0])
for i in range(0,len(ins)):
  if(ins[i]=='L'):
    ins[i]=0
  else:
    ins[i]=1
input=input[2:]
d={}
for i in range(0,len(input)):
  input[i]=input[i].split(' = ')
  input[i][1]=input[i][1][1:-1].split(', ')
  d[input[i][0]]=input[i][1]
p=[]
for x in d.keys():
  if(x[-1]=='A'):
    p.append(x)
ans=[]
for j in p:
  f=1
  while(f):
   for i in range(0,len(ins)):
    if(j[-1]=='Z'):
      # print(f-1)
      ans.append(f-1)
      f=0
      break
    j=d[j][ins[i]]
    f+=1
import math
print(math.lcm(*ans))

11188774513823

##DAY7

In [ ]:
raw_input=load(2023,7)

###Part1

In [ ]:
def func(a):
  if(len(set(list(a)))==1):
    return 0
  t=list(a)
  t=sorted(t,key=lambda x:t.count(x),reverse=True)
  if(t.count(t[0])==4):
    return 1
  if(t.count(t[0])==3 and t.count(t[-1])==2):
    return 2
  if(t.count(t[0])==3 and t.count(t[-1])==1):
    return 3
  if(t.count(t[0])==2 and t.count(t[2])==2):
    return 4
  if(t.count(t[0])==2 and len(set(a))==4):
    return 5
  return 6

In [ ]:
#'K43AT 328'
input = raw_input.split('\n')
# input='''32T3K 765
# T55J5 684
# KK677 28
# KTJJT 220
# QQQJA 483'''.split('\n')
grp=[[] for i in range(0,7)]
for i in range(0,len(input)):
  input[i]=input[i].split(' ')
  grp[func(input[i][0])].append(input[i])
FACE_CARDS = {'T': 10, 'J': 11, 'Q': 12, 'K': 13, 'A': 14}
def rep(x):
  if(x.isnumeric()):
    return int(x)
  return int(FACE_CARDS[x])
for i in range(0,len(grp)):
  for j in range(0,len(grp[i])):
    grp[i][j][0]=list(map(rep,list(grp[i][j][0])))
  grp[i].sort(key=lambda x:x[0])
grp=grp[::-1]
summ=0
v=1
for i in range(0,len(grp)):
  for j in range(0,len(grp[i])):
    summ+=int(grp[i][j][1])*v
    v+=1
summ

253313241

###Part2

In [ ]:
def func2(a):
  if(len(set(list(a)))==1):
    return 0
  t=list(map(rep,list(a)))
  c=t.count(1)
  while 1 in t:
    t.remove(1)
  t.sort()
  t=sorted(t,key=lambda x:t.count(x),reverse=True)
  for i in range(0,c):
    t.append(t[0])
  t=sorted(t,key=lambda x:t.count(x),reverse=True)
  if(len(set(t))==1):
    return 0
  if(t.count(t[0])==4):
    return 1
  if(t.count(t[0])==3 and t.count(t[-1])==2):
    return 2
  if(t.count(t[0])==3 and t.count(t[-1])==1):
    return 3
  if(t.count(t[0])==2 and t.count(t[2])==2):
    return 4
  if(t.count(t[0])==2 and len(set(t))==4):
    return 5
  return 6

In [ ]:
#'K43AT 328'
FACE_CARDS = {'T': 10, 'J': 1, 'Q': 12, 'K': 13, 'A': 14}
def rep(x):
  if(x.isnumeric()):
    return int(x)
  return int(FACE_CARDS[x])
input = raw_input.split('\n')
# input='''32T3K 765
# T55J5 684
# KK677 28
# KTJJT 220
# QQQJA 483'''.split('\n')
grp=[[] for i in range(0,7)]
for i in range(0,len(input)):
  input[i]=input[i].split(' ')
  grp[func2(input[i][0])].append(input[i])
for i in range(0,len(grp)):
  for j in range(0,len(grp[i])):
    grp[i][j][0]=list(map(rep,list(grp[i][j][0])))
  grp[i].sort(key=lambda x:x[0])
grp=grp[::-1]
summ=0
v=1
for i in range(0,len(grp)):
  for j in range(0,len(grp[i])):
    summ+=int(grp[i][j][1])*v
    v+=1
print(summ)

253362743

##DAY6

###PART1

In [ ]:
def fun(time,x):
  return (time-x)*x
a=[54,81,70,88]
b=[446,1292,1035,1007]
# a=[7,  15,30]
# b=[9,40,200]
summ=1
for j in range(0,len(a)):
  count=0
  for i in range(0,a[j]):
    if(fun(a[j],i)>b[j]):
      count+=1
  if(count>0):
     summ*=count
summ

2065338

###PART2

In [ ]:
T=54817088
D=446129210351007
count=0
for i in range(0,T):
  if(fun(T,i)>D):
    count+=1
count

34934171

###Practice

In [ ]:
from math import floor,ceil

In [ ]:
# T=[7,  15,30]
# D=[9,40,200]
#x**2-(T-1)*x+D=0
def funcc(T,D):
  # print(int(T+(T**2-(4*D))**0.5))
  return floor((T+(T**2-(4*D))**0.5)/2)-ceil((T-(T**2-(4*D))**0.5)/2)+1

# fun(7,6)
a=[7,15,30]
b=[9,40,200]
for i in range(0,len(a)):
  print(funcc(a[i],b[i]))
funcc(T,D)

4
8
11

34934171

##DAY5

In [ ]:
rawinput=get_advent_of_code_input(2023,5,session_id)

In [ ]:
def smaller(a):
  a=a.split('\n')
  for i in range(0,len(a)):
    # print(a[i])
    a[i]=list(map(int,a[i].split(" ")))
  return a

####Data Loading

In [ ]:
seeds="629551616 310303897 265998072 58091853 3217788227 563748665 2286940694 820803307 1966060902 108698829 190045874 3206262 4045963015 223661537 1544688274 293696584 1038807941 31756878 1224711373 133647424"

seeds=list(map(int,seeds.split(" ")))
seed_to_soil=smaller('''3809825462 2725979505 339457863
3359244708 2085610478 450580754
652041572 2536191232 189788273
841829845 3346349446 343599367
1408035723 73701258 732851393
2140887116 3689948813 88205018
0 3778153831 371129494
2953980724 0 73701258
3027681982 1754047752 331562726
2229092134 1029159162 724888590
1185429212 806552651 222606511
371129494 3065437368 280912078''')

soil_to_fertilizer=smaller('''201390752 0 263005475
772560454 263005475 186665885
3597849741 3228095269 216867970
959226339 951560560 85171934
2882237029 3813801625 34286208
0 586356609 16090261
1460387186 1189054013 136970257
2511361703 2581174071 147006778
201110502 1477157137 280250
3582774663 3444963239 15075078
2073881675 2245158204 30510333
3127914126 3163440286 64654983
1724767985 602446870 349113690
1597357443 1036732494 127410542
1044398273 1164143036 24910977
635875205 449671360 136685249
2916523237 2728180849 211390889
1069309250 1854080268 391077936
167223128 1820192894 33887374
4168481019 2454687794 126486277
3496254979 4048626015 86519684
2454687794 4238293387 56673909
2104392008 1648916365 171276529
3814717711 3460038317 353763308
464396227 1477437387 171478978
2658368481 2939571738 223868548
16090261 1326024270 151132867
3393107291 4135145699 103147688
3192569109 3848087833 200538182''')

fertilizer_to_water =smaller('''357701033 441924316 54941059
2047098412 1574732688 106451110
2414997091 2961420861 217583761
3647103220 3202843177 147888878
1781607871 3397471081 265490541
433955285 629676938 29320532
3280739425 2494455782 366363795
2818710889 1426835569 147897119
1120892574 3179004622 23838555
1539573533 3662961622 195295312
3794992098 1820059317 63264836
0 84223283 357701033
1144731129 1702496991 117562326
2153549522 2046878176 261447569
593734757 726830618 239035306
987137385 83279657 943626
2966608008 0 83279657
1734868845 3350732055 46739026
1438972249 2860819577 100601284
2632580852 2308325745 186130037
1262293455 965865924 108845646
412642092 1681183798 21313193
472462518 1305563330 121272239
988081011 496865375 132811563
463275817 2037691475 9186701
3049887665 1074711570 230851760
832770063 1883324153 154367322
1371139101 658997470 67833148''')

water_to_light = smaller('''4062286509 3839153068 91029970
1610728246 3827168971 11474903
2753947407 2725849236 1101319735
2525484879 1829977386 228462528
657837215 1095779595 241604827
1895347620 1337384422 492592964
1425623249 4009599599 185104997
2446068318 3930183038 79416561
1894838426 3838643874 509194
2389619503 896001044 56448815
3855267142 2058439914 207019367
1187459420 657837215 238163829
1622203149 2467395620 172372577
2387940584 952449859 1678919
985523081 2265459281 201936339
4153316479 954128778 141650817
1794575726 4194704596 100262700
899442042 2688664470 37184766
936626808 2639768197 48896273''')

light_to_temperature =smaller('''0 2682471120 43545350
2829609407 2423668531 227914183
3685065657 3821208881 65673550
1319277847 0 33132672
818263707 3091863377 5216721
3144636417 670795080 1340457
1352410519 895535914 570572224
2709351136 1662268878 120258271
115643652 2726016470 93054822
455333494 1538206440 124062438
3839611769 4030334543 30664857
3750739207 4258515305 36451991
2070721515 33132672 155555065
3132740473 2067641423 5192544
4147162986 3685065657 58311172
4278703737 3743376829 16263559
1070098598 2174489282 249179249
716608392 2072833967 101655315
43545350 1466108138 72098302
3057523590 3016646494 75216883
2700979566 887164344 8371570
4205474158 4060999400 73229579
2226276580 188687737 474702986
1971879519 1968799427 98841996
3931845119 4134228979 124286326
579395932 2819071292 137212460
3137933017 672135537 6703400
1062694241 663390723 7404357
3787191198 3886882431 52420571
269061216 1782527149 186272278
1031805835 2651582714 30888406
823480428 678838937 208325407
3870276626 3759640388 61568493
4056131445 3939303002 91031541
1922982743 3097080098 48896776
208698474 2956283752 60362742''')

temperature_to_humidity=smaller('''219529182 731674447 232727899
2748076784 2771987989 46463882
2514344851 4061235363 233731933
0 1369964423 219529182
452257081 362359049 21789881
4243457964 2720478657 51509332
3085663754 3109574959 64704581
1639319644 384148930 347525517
3150368335 3626166922 251414834
1986845161 0 139120377
1382707786 1339581093 30383330
1413091116 1113352565 226228528
2794540666 2818451871 291123088
2125965538 338187591 24171458
474046962 139120377 157229612
2361125570 1100881680 12470885
631276574 296349989 41837602
3401783169 3428035243 198131679
3989702261 3174279540 253755703
2224646236 964402346 136479334
2150136996 2299087215 74509240
3806048654 3877581756 183653607
3599914848 2514344851 206133806
673114176 1589493605 709593610''')

humidity_to_location=smaller('''4029426902 1202474782 191291587
2764446301 708692227 493782555
2188304413 3350514524 33021460
3318755823 4213528230 67155117
2000392671 620732246 87959981
3754724301 3075811923 274702601
3258228856 1393766369 60526967
2088352652 4113576469 99951761
363515622 1849258760 614077493
1213242541 342257124 11129119
1733046668 353386243 267346003
1224371660 4280683347 14283949
2577070088 2888435710 187376213
4220718489 2832149614 56286096
324294413 1810037551 39221209
3385910940 2463336253 368813361
977593115 3383535984 235649426
1238655609 3619185410 494391059
4277004585 324294413 17962711
2221325873 1454293336 355744215''')

In [ ]:
seeds
seed_to_soil
soil_to_fertilizer
fertilizer_to_water
water_to_light
light_to_temperature
temperature_to_humidity
humidity_to_location
print("")

In [ ]:
seeds='79 14 55 13'
seeds=list(map(int,seeds.split(" ")))
seed_to_soil=smaller('''50 98 2
52 50 48''')

soil_to_fertilizer=smaller('''0 15 37
37 52 2
39 0 15''')

fertilizer_to_water=smaller('''49 53 8
0 11 42
42 0 7
57 7 4''')

water_to_light=smaller('''88 18 7
18 25 70''')

light_to_temperature=smaller('''45 77 23
81 45 19
68 64 13''')

temperature_to_humidity=smaller('''0 69 1
1 0 69''')

humidity_to_location=smaller('''60 56 37
56 93 4''')

In [ ]:
print(len(seeds))

20

In [ ]:
a=403695602
for i in range(0, len(seeds),2):
  a=min(a,findd([seeds[i]+j for j in range(0,seeds[i+1])]))
  print(a)

46
46

In [ ]:
def findd(inputt):
  x=[]
  # seed=[]
  # soil=[]
  # fertilizer=[]
  # water=[]
  # light=[]
  # temperature=[]
  # humidity=[]
  for j in(inputt):
    i=j
    # seed.append(i)
    for a in range(len(seed_to_soil)):
      if(i>=seed_to_soil[a][1] and i<(seed_to_soil[a][2]+seed_to_soil[a][1])):
        i=i+seed_to_soil[a][0]-seed_to_soil[a][1]
        break
    # soil.append(i)
    for b in range(len(soil_to_fertilizer)):
      if(i>=soil_to_fertilizer[b][1] and i<(soil_to_fertilizer[b][2]+soil_to_fertilizer[b][1])):
        i=soil_to_fertilizer[b][0]-soil_to_fertilizer[b][1]+i
        break
    # fertilizer.append(i)
    for c in range(len(fertilizer_to_water)):
      if(i>=fertilizer_to_water[c][1] and i<(fertilizer_to_water[c][2]+fertilizer_to_water[c][1])):
        # print(i,end=" ")
        # print(fertilizer_to_water[c] ,end=" ")
        i=fertilizer_to_water[c][0]-fertilizer_to_water[c][1]+i
        # print(i)
        break
    # water.append(i)
    for d in range(len(water_to_light)):
      if(i>=water_to_light[d][1] and i<(water_to_light[d][2]+water_to_light[d][1])):
        # print(i,end=" ")
        # print(water_to_light[d] ,end=" ")
        i=water_to_light[d][0]-water_to_light[d][1]+i
        break

    # light.append(i)
    for e in range(len(light_to_temperature)):
        if(i>=light_to_temperature[e][1] and i<(light_to_temperature[e][2]+light_to_temperature[e][1])):
          i=light_to_temperature[e][0]-light_to_temperature[e][1]+i
          break
    # temperature.append(i)
    for f in range(len(temperature_to_humidity)):
      if(i>=temperature_to_humidity[f][1] and i<(temperature_to_humidity[f][2]+temperature_to_humidity[f][1])):
        i=temperature_to_humidity[f][0]-temperature_to_humidity[f][1]+i
        break
    # humidity.append(i)
    for g in range(len(humidity_to_location)):
      if(i>=humidity_to_location[g][1] and i<(humidity_to_location[g][2]+humidity_to_location[g][1])):
        i=humidity_to_location[g][0]-humidity_to_location[g][1]+i
        break
    x.append(i)
  return(min(x))
  # print(seed)
  # print(soil)
  # print(fertilizer)
  # print(water)
  # print(light)
  # print(temperature)
  # print(humidity)
  # print(x)

In [ ]:
findd(seeds)

403695602

##DAY4

In [ ]:
rawinput=get_advent_of_code_input(2023,4,session_id)

###PART1

In [ ]:
input= rawinput.split('\n')
input="""Card 1: 41 48 83 86 17 | 83 86  6 31 17  9 48 53
Card 2: 13 32 20 16 61 | 61 30 68 82 17 32 24 19
Card 3:  1 21 53 59 44 | 69 82 63 72 16 21 14  1
Card 4: 41 92 73 84 69 | 59 84 76 51 58  5 54 83
Card 5: 87 83 26 28 32 | 88 30 70 12 93 22 82 36
Card 6: 31 18 13 56 72 | 74 77 10 23 35 67 36 11""".split('\n')
summ=0
for i in range(0,len(input)):
  input[i]=input[i].split(':')
  input[i]=input[i][1].split('|')
  input[i][1] = set(i for i in input[i][1].split(" ") if i)
  input[i][0] = set(i for i in input[i][0].split(" ") if i)
  a = len(input[i][0].intersection(input[i][1]))
  if(a>0):
    summ+=2**(a-1)
summ

13

###PART2

In [ ]:
input= rawinput.split('\n')
# input="""Card 1: 41 48 83 86 17 | 83 86  6 31 17  9 48 53
# Card 2: 13 32 20 16 61 | 61 30 68 82 17 32 24 19
# Card 3:  1 21 53 59 44 | 69 82 63 72 16 21 14  1
# Card 4: 41 92 73 84 69 | 59 84 76 51 58  5 54 83
# Card 5: 87 83 26 28 32 | 88 30 70 12 93 22 82 36
# Card 6: 31 18 13 56 72 | 74 77 10 23 35 67 36 11""".split('\n')
ans=[1 for i in range(0,len(input))]
summ=0
for i in range(0,len(input)):
  input[i]=input[i].split(':')
  input[i]=input[i][1].split('|')
  input[i][1] = set(i for i in input[i][1].split(" ") if i)
  input[i][0] = set(i for i in input[i][0].split(" ") if i)
  a = len(input[i][0].intersection(input[i][1]))
  for j in range(1, a+1):
    if(i+j<len(input)):
      ans[i+j]+=ans[i]
sum(ans)
  # a = len(input[i][0].intersection(input[i][1]))

6284877

##DAY2

In [ ]:
rawinput=get_advent_of_code_input(2023,2,session_id)

###Part1

In [ ]:
#Game 1: 1 blue, 2 green, 3 red; 7 red, 8 green; 1 green, 2 red, 1 blue; 2 green, 3 red, 1 blue; 8 green, 1 blue
input = rawinput.split("\n")
# input = """Game 1: 3 blue, 4 red; 1 red, 2 green, 6 blue; 2 green
# Game 2: 1 blue, 2 green; 3 green, 4 blue, 1 red; 1 green, 1 blue
# Game 3: 8 green, 6 blue, 20 red; 5 blue, 4 red, 13 green; 5 green, 1 red
# Game 4: 1 green, 3 red, 6 blue; 3 green, 6 red; 3 green, 15 blue, 14 red
# Game 5: 6 red, 1 blue, 3 green; 2 blue, 1 red, 2 green""".split("\n")
a=[]
counts=[]
ans=5050
for i in range(0,len(input)):
  a.append(list(input[i][input[i].find(':')+1:].split(';')))
for i in range(0,len(a)):
  d={'red':0, 'blue':0, 'green':0} #dicteonary
  maxx={'red':12, 'blue':14, 'green':13}
  f=1
  for j in range(0,len(a[i])):
    if(f==0):
      break
    a[i][j]=a[i][j].split(',')
    for k in range(0,len(a[i][j])):
        count,color= a[i][j][k].split(" ")[1:]
        # print(count+"_"+color)
        count=int(count)
        if(count<=maxx[color]):
          d[color]=max([d[color],count])
        else:
          ans-=(i+1)
          # print(i+1)
          f=0
          break
  # print("")
print(ans)

2505

###Part2

In [ ]:
#Game 1: 1 blue, 2 green, 3 red; 7 red, 8 green; 1 green, 2 red, 1 blue; 2 green, 3 red, 1 blue; 8 green, 1 blue
input = rawinput.split("\n")
# input = """Game 1: 3 blue, 4 red; 1 red, 2 green, 6 blue; 2 green
# Game 2: 1 blue, 2 green; 3 green, 4 blue, 1 red; 1 green, 1 blue
# Game 3: 8 green, 6 blue, 20 red; 5 blue, 4 red, 13 green; 5 green, 1 red
# Game 4: 1 green, 3 red, 6 blue; 3 green, 6 red; 3 green, 15 blue, 14 red
# Game 5: 6 red, 1 blue, 3 green; 2 blue, 1 red, 2 green""".split("\n")
a=[]
counts=[]
ans=5050
summ=0
for i in range(0,len(input)):
  a.append(list(input[i][input[i].find(':')+1:].split(';')))
for i in range(0,len(a)):
  d={'red':0, 'blue':0, 'green':0} #dicteonary
  maxx={'red':12, 'blue':14, 'green':13}
  f=1
  for j in range(0,len(a[i])):
    a[i][j]=a[i][j].split(',')
    for k in range(0,len(a[i][j])):
        count,color= a[i][j][k].split(" ")[1:]
        # print(count+"_"+color)
        count=int(count)
        d[color]=max([d[color],count])
  summ+=d['red']*d['blue']*d['green']
print(summ)

70265

##Day1

In [ ]:
rawinput=get_advent_of_code_input(2023,1,session_id)
Input=rawinput.split('\n')

In [ ]:
def findFirstInt(a):
  str = list(a)
  for c in a:
    if(c.isdigit()):
      return c
def sumEndInts(a):
  return findFirstInt(a)+findFirstInt(a[::-1])

###Part1

In [ ]:
summ=0
for i in range(len(Input)):
  summ+=int(sumEndInts(Input[i]))
summ

55834

###Part2

In [ ]:
def replace_number_spellings(a):
  number_spell = {'one':'one1one','two' : 'two2two','three' : 'three3three' ,'four' : 'four4four' ,'five':'five5five' ,'six':'six6six' , 'seven':'seven7seven' ,'eight':'eight8eight' ,'nine':'nine9nine' }
  for word, number in number_spell.items():
    a = a.replace(word,number)
  return a

In [ ]:
test = """two1nine
eightwothree
abcone2threexyz
xtwone3four
4nineeightseven2
zoneight234
7pqrstsixteen""".split("\n")
summ=0
for i in range(len(test)):
  summ+=int(sumEndInts(replace_number_spellings(test[i])))
summ

281

In [ ]:
summ=0
for i in range(len(Input)):
  summ+=int(sumEndInts(replace_number_spellings(Input[i])))
summ

53221

#2022

##DAY5

In [ ]:
rawinput=get_advent_of_code_input2(2022,5,session_id)

In [ ]:
def restack(fs,ts, c):
  for i in range(c):
    ts.append(fs.pop())
  return fs,ts
def restack2(fs,ts, c):
  t=len(fs)-c
  for i in range(c):
    ts.append(fs.pop(t))
  return fs,ts

In [ ]:
# rawinput='''    [D]
# [N] [C]
# [Z] [M] [P]
#  1   2   3

# move 1 from 2 to 1
# move 3 from 1 to 3
# move 2 from 2 to 1
# move 1 from 1 to 2'''
input=rawinput.split("\n\n")[0]
input2=rawinput.split("\n\n")[1]
input=input.split("\n")
input2=input2.split('\n')
input2[0]
for i in range(len(input2)):
  input2[i]=input2[i].split(' ')
  input2[i]=input2[i][1:6:2]
input2[0:2]

[['6', '5', '7'], ['2', '9', '1']]

###Part1

In [ ]:
stack=[[] for i in range(0,len(input[-1].split("  ")))]
for i in range(0,len(input)):
  for j in range(1,len(input[i]),4):
    if(input[i][j]>='A' and input[i][j]<='Z'):
      stack[int((j-1)/4)].append(input[i][j])
# print("top--->Bottom")
for i in range(len(stack)):
  stack[i]=stack[i][::-1]
#print("Bottom--->top")
# move 6 from 5 to 7
for i in range(len(input2[:-1])):
  # print(input2[i])
  stack[int(input2[i][1])-1],stack[int(input2[i][2])-1]=restack(stack[int(input2[i][1])-1],stack[int(input2[i][2])-1],int(input2[i][0]))
for i in stack:
  print(i[-1],end="")

ZSQVCCJLL

###Part2

In [ ]:
stack=[[] for i in range(0,len(input[-1].split("  ")))]
for i in range(0,len(input)):
  for j in range(1,len(input[i]),4):
    if(input[i][j]>='A' and input[i][j]<='Z'):
      stack[int((j-1)/4)].append(input[i][j])
# print("top--->Bottom")
for i in range(len(stack)):
  stack[i]=stack[i][::-1]
#print("Bottom--->top")
# move 6 from 5 to 7
for i in range(len(input2[:-1])):
  # print(input2[i])
  # print(stack)
  stack[int(input2[i][1])-1],stack[int(input2[i][2])-1]=restack2(stack[int(input2[i][1])-1],stack[int(input2[i][2])-1],int(input2[i][0]))
# print(stack)
for i in stack:
  print(i[-1],end="")

QZFJRWHGS

##DAY1

In [ ]:
rawinput=get_advent_of_code_input(2022,1,session_id)

###Part1

In [ ]:
input = rawinput.split('\n')
elves = []
temp = 0
for i in range(0,len(input)):
  if(input[i]==''):
    elves.append(temp)
    temp=0
  else:
    temp+=int(input[i])
elves.append(temp)
elves.sort()
elves[-1]

68442

###Part2

In [ ]:
sum(elves[-3:])

204837

##DAY2

In [ ]:
rawinput=get_advent_of_code_input(2022,2,session_id)

###Part1

In [ ]:
def points(a):
  opp={'A':1,'B':2,'C':3}
  player={'X':1,'Y':2,'Z':3}
  if(a in ['A X','B Y','C Z']):
    return 3 + opp[a[0]]
  elif(a in ['A Y', 'B Z', 'C X']):
    return 6 + player[a[-1]]
  return player[a[-1]]

In [ ]:
#1 for Rock, 2 for Paper, and 3 for Scissors
#A for Rock, B for Paper, and C for Scissors
#X for Rock, Y for Paper, and Z for Scissors.
#0 if you lost, 3 if the round was a draw, and 6 if you won
input=rawinput.split('\n')
# input = """A Y
# B X
# C Z""".split('\n')
sum(list(map(points,input)))

12458

###Part2

In [ ]:
# X means you need to lose, Y means you need to end the round in a draw, and Z means you need to win.
def stat(a):
  val={'A':1,'B':2,'C':3}
  win={'A':2,'B':3,'C':1}
  loss={'A':3,'B':1,'C':2}
  # print(a[0])
  if(a[-1] == 'X'):
    return loss[a[0]]
  if(a[-1]=='Y'):
    return 3+val[a[0]]
  return 6+win[a[0]]

In [ ]:
input=rawinput.split('\n')
# input = """A Y
# B X
# C Z""".split('\n')
sum(list(map(stat,input)))

12683

##DAY3

In [ ]:
rawinput=get_advent_of_code_input(2022,3,session_id)

###Part1

In [ ]:
def half(a):
  a=set(a[:int(len(a)/2)]).intersection(set(a[int(len(a)/2):])).pop()
  if('A'<=a and 'Z'>=a):
    return ord(a)-38
  else:
    return ord(a)-96

In [ ]:
input = rawinput.split('\n')
# input="""vJrwpWtwJgWrhcsFMMfFFhFp
# jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL
# PmmdzqPrVvPwwTWBwg
# wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn
# ttgJtRGJQctTZtZT
# CrZsJsPPZsGzwwsLwLmpwMDw""".split('\n')
input = list(map(half,input))
sum(input)

7872

###Part2

In [ ]:
def badge(a,b,c):
  a=set(a).intersection(b).intersection(c).pop()
  # print(a)
  if('A'<=a and 'Z'>=a):
    return ord(a)-38
  else:
    return ord(a)-96

In [ ]:
input=rawinput.split('\n')
summ=0
for i in range(0,len(input),3):
  summ+=badge(input[i],input[i+1],input[i+2])
summ

2497

##DAY4

In [ ]:
rawinput=get_advent_of_code_input(2022,4,session_id)

###Part1

In [ ]:
input=rawinput.split('\n')
# input="""2-4,6-8
# 2-3,4-5
# 5-7,7-9
# 2-8,3-7
# 6-6,4-6
# 2-6,4-8""".split('\n')
ans=0
for i in range(0,len(input)):
  input[i]=input[i].split(',')
  # print(input[i][0])
  input[i][0]=list(range(int(input[i][0].split('-')[0]),int(input[i][0].split('-')[1])+1))
  input[i][1]=list(range(int(input[i][1].split('-')[0]),int(input[i][1].split('-')[1])+1))
  if(set(input[i][0]).issubset(input[i][1]) or set(input[i][1]).issubset(input[i][0])):
    ans+=1
ans

513

###Part2

In [ ]:
input=rawinput.split('\n')
# input="""2-4,6-8
# 2-3,4-5
# 5-7,7-9
# 2-8,3-7
# 6-6,4-6
# 2-6,4-8""".split('\n')
ans=0
for i in range(0,len(input)):
  input[i]=input[i].split(',')
  # print(input[i][0])
  input[i][0]=list(range(int(input[i][0].split('-')[0]),int(input[i][0].split('-')[1])+1))
  input[i][1]=list(range(int(input[i][1].split('-')[0]),int(input[i][1].split('-')[1])+1))
  if(len(set(input[i][0]).intersection(input[i][1]))):
    ans+=1
ans

878

#2021


---

##DAY1

In [ ]:
rawinput=get_advent_of_code_input(2021,1,session_id)

In [ ]:
Input=rawinput.split('\n')
Input=list(map(int,Input))

In [ ]:
def greater(a,b):
  if(a>b):
    return 1
  return 0

###Part1

In [ ]:
#Question1
prev=Input[0]
count=0
for i in range(1,len(Input)):
  next=Input[i]
  count+=greater(next,prev)
  prev=next
print(count)

1215

###Part2

In [ ]:
#Question2
prev=sum(Input[0:3])
count=0
for i in range(1,len(Input)-2):
  next=sum(Input[i:i+3])
  count+=greater(next,prev)
  prev=next
print(count)

1150

##DAY2

In [ ]:
rawinput=get_advent_of_code_input(2021,2,session_id)

###Part1

In [ ]:
Input=rawinput.split('\n')
forward = 0
depth = 0
for i in range(0,len(Input)):
  temp=Input[i].split(" ")
  match(temp[0]):
    case 'forward':
      forward+=int(temp[1])
    case 'down':
      depth+=int(temp[1])
    case 'up':
      depth-=int(temp[1])
print(depth)
print(forward)
print(depth*forward)

913
1988
1815044

###Part2

In [ ]:
Input=rawinput.split('\n')
# Input="""forward 5
# down 5
# forward 8
# up 3
# down 8
# forward 2""".split('\n')
forward = 0
depth = 0
aim=0
for i in range(0,len(Input)):
  temp=Input[i].split(" ")
  match(temp[0]):
    case 'forward':
      forward+=int(temp[1])
      depth+=int(temp[1])*aim
    case 'down':
      #depth+=int(temp[1])
      aim+=int(temp[1])
    case 'up':
      #depth-=int(temp[1])
      aim-=int(temp[1])
print(depth)
print(forward)
print(depth*forward)

874891
1988
1739283308

##DAY3

In [ ]:
rawinput=get_advent_of_code_input(2021,3,session_id)

###Part1

In [ ]:
input=rawinput.split("\n")
gamma = ""
epsilon = ""
for i in range(0,12):
  gamma+=max(['0','1'],key=[x[i] for x in input].count)
  epsilon+=min(['0','1'],key=[x[i] for x in input].count)
print(gamma+" "+epsilon)
int(gamma,2)*int(epsilon,2)

001110101111 110001010000

2972336

###Part2

In [ ]:
input=rawinput.split("\n")
# input="""00100
# 11110
# 10110
# 10111
# 10101
# 01111
# 00111
# 11100
# 10000
# 11001
# 00010
# 01010""".split("\n")
gamma = ""
epsilon = ""
for i in range(0,12):
  if(len([x for x in input if x.startswith(gamma)])==1):
    gamma = [x for x in input if x.startswith(gamma)][0]
    break
  gamma+=max(['1','0'],key=[x[i] for x in input if x.startswith(gamma)].count)
for i in range(0,12):
  if(len([x for x in input if x.startswith(epsilon)])==1):
    epsilon = [x for x in input if x.startswith(epsilon)][0]
    break
  epsilon+=min(['0','1'],key=[x[i] for x in input if x.startswith(epsilon)].count)

print(gamma+" "+epsilon)
int(gamma,2)*int(epsilon,2)

001110100011 111000100010

3368358

#2020

##DAY1

In [ ]:
rawinput=get_advent_of_code_input(2020,1,session_id)

###Part1

In [ ]:
input=list(map(int,rawinput.split('\n')))
for i in range(0,len(input)):
  for j in range(i,len(input)):
    if(input[i]+input[j]==2020):
      print("Part1")
      print(input[i]*input[j])
    for k in range(j,len(input)):
     if(input[i]+input[j]+input[k]==2020):
      print("Part2")
      print(input[i]*input[j]*input[k])

Part2
73616634
Part1
121396

#2016

##DAY1

In [ ]:
a="L5, R1, L5"
a=load(2016,1)
a=a.split(", ")
# print(a)
def func(a):
  return[a[0],int(a[1:])]
a=list(map(func,a))
print(a)
x=0
y=0
d=1 #directon 1 or -1
for i in range(len(a)):
  if(i%2==0):
    #x
    if(d==1):
      if(a[i][0]=='R'):
        x+=a[i][1]
      else:
        x-=a[i][1]
        d=-1
    else:
      if(a[i][0]=='R'):
        x-=a[i][1]
      else:
        x+=a[i][1]
        d=1
  else:
    if(d==1):
      if(a[i][0]=='R'):
        y-=a[i][1]
        d=-1
      else:
        y+=a[i][1]
        # d=1
    else:
      if(a[i][0]=='R'):
        y+=a[i][1]
        d=1
      else:
        y-=a[i][1]
        # d=-1
print(x,y,d,abs(x)+abs(y))
    #y

[['L', 5], ['R', 1], ['L', 5], ['L', 1], ['R', 5], ['R', 1], ['R', 1], ['L', 4], ['L', 1], ['L', 3], ['R', 2], ['R', 4], ['L', 4], ['L', 1], ['L', 1], ['R', 2], ['R', 4], ['R', 3], ['L', 1], ['R', 4], ['L', 4], ['L', 5], ['L', 4], ['R', 4], ['L', 5], ['R', 1], ['R', 5], ['L', 2], ['R', 1], ['R', 3], ['L', 2], ['L', 4], ['L', 4], ['R', 1], ['L', 192], ['R', 5], ['R', 1], ['R', 4], ['L', 5], ['L', 4], ['R', 5], ['L', 1], ['L', 1], ['R', 48], ['R', 5], ['R', 5], ['L', 2], ['R', 4], ['R', 4], ['R', 1], ['R', 3], ['L', 1], ['L', 4], ['L', 5], ['R', 1], ['L', 4], ['L', 2], ['L', 5], ['R', 5], ['L', 2], ['R', 74], ['R', 4], ['L', 1], ['R', 188], ['R', 5], ['L', 4], ['L', 2], ['R', 5], ['R', 2], ['L', 4], ['R', 4], ['R', 3], ['R', 3], ['R', 2], ['R', 1], ['L', 3], ['L', 2], ['L', 5], ['L', 5], ['L', 2], ['L', 1], ['R', 1], ['R', 5], ['R', 4], ['L', 3], ['R', 5], ['L', 1], ['L', 3], ['R', 4], ['L', 1], ['L', 3], ['L', 2], ['R', 1], ['R', 3], ['R', 2], ['R', 5], ['L', 3], ['L', 1], ['L', 1], ['R', 5], ['L', 4], ['L', 5], ['R', 5], ['R', 2], ['L', 5], ['R', 2], ['L', 1], ['L', 5], ['L', 3], ['L', 5], ['L', 5], ['L', 1], ['R', 1], ['L', 4], ['L', 3], ['L', 1], ['R', 2], ['R', 5], ['L', 1], ['L', 3], ['R', 4], ['R', 5], ['L', 4], ['L', 1], ['R', 5], ['L', 1], ['R', 5], ['R', 5], ['R', 5], ['R', 2], ['R', 1], ['R', 2], ['L', 5], ['L', 5], ['L', 5], ['R', 4], ['L', 5], ['L', 4], ['L', 4], ['R', 5], ['L', 2], ['R', 1], ['R', 5], ['L', 1], ['L', 5], ['R', 4], ['L', 3], ['R', 4], ['L', 2], ['R', 3], ['R', 3], ['R', 3], ['L', 2], ['L', 2], ['L', 2], ['L', 1], ['L', 4], ['R', 3], ['L', 4], ['L', 2], ['R', 2], ['R', 5], ['L', 1], ['R', 2]]
91 135 1 226

#2015

##Day 1

In [ ]:
rawinput=get_advent_of_code_input(2015,1,session_id)

###Part 1

In [ ]:
print(rawinput.count('(')-rawinput.count(')'))
print(rawinput.count('('))
-rawinput.count(')')

74
3537

-3463

###Part 2

In [ ]:
floor = 0
for i in range(0,len(rawinput)):
  if(floor==-1):
    print(i)
    break
  if(rawinput[i]=='('):
    floor+=1
  else:
    floor-=1

1795